.carte {
    margin-bottom: 20%;
    margin-top: 20%;
}
.infoPosition{
    margin-left: 7%;
    margin-right: 10%;
    background-color: transparent;
    border: transparent;
}
.cartePosition{
    margin-left: 7%;
    margin-right: 10%;
}
.infoPosition p{
    font-size: 1.2rem;
    text-align: center;
}
.findMap
{
    margin-top: -6%;
}
.textOnEstLa1
{
    color: orangered;
    font-weight: bold;
}.textOnEstLa2
{
    color: darkorange;
    font-weight: bold;
}.textOnEstLa3
{
    color: #f2b71d!important;
    font-weight: bold;
}